css
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('joseph.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #1FC0DA;
}

/* Navigation bar */
nav {
  background-color: rgba(0, 0, 0, 0.8);
  color: #A7901A;
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* Page headers */
h1, h2 {
  text-align: center;
  color: #fff;
  margin-top: 30px;
}

/* Main content container */
.container {
  width: 90%;
  max-width: 500px;
  background-color: rgba(132, 150, 39, 0.9);
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
}

/* Form inputs */
input, select {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid #aaa;
  border-radius: 5px;
}

/* Buttons */
button {
  width: 100%;
  padding: 12px;
  background-color: #333;
  color: orangered;
  border: none;
  border-radius: 5px;font-size: 16px;
}

button:hover {
  background-color: #D50F39;
}
.logo-container {
  text-align: center;
  padding: 2px;
  background-color: rgba(49, 133, 184, 1);
}

.logo {
  max-width: 350px;
  height: auto;
}
body {
  margin: 0;
  font-family: Arial;
}

header {
  display: flex;
  align-items: center;
  background: #222;}
